@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    --color-light-gold: #D14B28;
    --color-tan: #D14B28;
    --color-beige: #2e2e2e;
    --color-brown: #D14B28;
    --color-dark-brown: #E5D5C5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/test-background.webp'); /*Deze image is de normale background image met 70% darkness*/
    background-size: cover;
    background-position: center;
    background-color: black;

    .login-container, .register-container, .account-settings {
        width: 400px;
        padding: 40px;
        border: 2px solid var(--color-tan);
        border-radius: 10px;
        color: var(--color-dark-brown);
        background-color: rgba(46, 46, 46, 0.7); 
        backdrop-filter: blur(10px);
    
        .title {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        .progress-wrapper {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 1rem;

            progress {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-color: var(--color-brown);
                border: none;
                appearance: none;
              }
            .progress-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;
                color: var(--color-dark-brown);
              }
          }
    }
    
    .input-container {
        position: relative;
        margin-bottom: 20px;
    
        input, select {
            width: 100%;
            height: 45px;
            padding: 10px 45px 10px 20px;
            border: 2px solid var(--color-brown);
            border-radius: 40px;
            font-size: 16px;
            color: var(--color-dark-brown);
            background-color: transparent;
            outline: none;
        }
    
        input::placeholder {
            color: var(--color-dark-brown);
        }
    
        .input-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            color: var(--color-dark-brown);
        }
    }
    
    
    .submit-btn {
        width: 100%;
        height: 45px;
        background-color: var(--color-light-gold);
        color: var(--color-dark-brown);
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 10px 0;
    
        &:hover {
            border: 2px solid var(--color-dark-brown);
        }
    }
    
    .text-center {
        text-align: center;
        margin: 10px 0;
    
        .text-link {
            color: var(--color-dark-brown);
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    
        .text-secondary {
            color: var(--color-brown);
            font-size: 16px;
        
            a {
                font-weight: bold;
                color: var(--color-brown);
                text-decoration: none;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .profile-image {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    
        img {
            border-radius: 50%;
        }
    }
    
    
    .account-settings {
        width: 45%;
        .information {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            .input-container {
                width: 45%;
            }
        }
    }
    
    .bi-cloud-sun-fill {
        position: absolute;
        right: 10px;
        top: 5%;
        transform: translateY(-50%);
        font-size: 40px;
        color: var(--color-dark-brown);
    }
}

.light-mode {
    --color-light-gold: #F2D6B3;
    --color-tan: #D9C6A3;
    --color-beige: #BFA556;
    --color-brown: #734E20;
    --color-dark-brown: #401E01;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/login-background-temp.webp');
    background-size: cover;
    background-position: center;
    background-color: black;

    .login-container, .register-container, .account-settings {
        width: 400px;
        padding: 40px;
        border: 2px solid var(--color-tan);
        border-radius: 10px;
        color: var(--color-dark-brown);
        background-color: rgba(210, 180, 140, 0.7);
        backdrop-filter: blur(10px);
    
        .title {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        .progress-wrapper {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 1rem;

            progress {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-color: var(--color-dark-brown);
                border: none;
                appearance: none;
              }
            .progress-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;
                color: var(--color-light-gold);
              }
          }
    }
    
    .input-container {
        position: relative;
        margin-bottom: 20px;
    
        input, select {
            width: 100%;
            height: 45px;
            padding: 10px 45px 10px 20px;
            border: 2px solid var(--color-dark-brown);
            border-radius: 40px;
            font-size: 16px;
            color: var(--color-brown);
            background-color: transparent;
            outline: none;
        }
    
        input::placeholder {
            color: var(--color-dark-brown);
        }
    
        .input-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            color: var(--color-dark-brown);
        }
    }
    
    
    .submit-btn {
        width: 100%;
        height: 45px;
        background-color: var(--color-light-gold);
        color: var(--color-dark-brown);
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 10px 0;
    
        &:hover {
            border: 2px solid var(--color-dark-brown);
        }
    }
    
    .text-center {
        text-align: center;
        margin: 10px 0;
    
        .text-link {
            color: var(--color-dark-brown);
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    
        .text-secondary {
            color: var(--color-brown);
            font-size: 16px;
        
            a {
                font-weight: bold;
                color: var(--color-brown);
                text-decoration: none;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .profile-image {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    
        img {
            border-radius: 50%;
        }
    }
    
    
    .account-settings {
        width: 45%;
        .information {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            .input-container {
                width: 45%;
            }
        }
    }
    
    .bi-cloud-sun-fill {
        position: absolute;
        right: 10px;
        top: 5%;
        transform: translateY(-50%);
        font-size: 40px;
        color: var(--color-dark-brown);
    }
}


@media (max-width: 765px) {
    .account-settings {
        width: 45%;
        .information {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            .input-container {
                width: 100%;
            }
        }
    }
}