@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --color-light-gold: #F2D6B3;
  --color-tan: #D9C6A3;
  --color-beige: #BFA556;
  --color-brown: #734E20;
  --color-dark-brown: #401E01;
}
/* BASIS */
* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

/* HEADER */
header {
  background-color: rgba(64, 30, 1, 0.8);
  color: var(--color-light-gold);
  padding: 0.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, rgba(115, 78, 32, 0.8), rgba(64, 30, 1, 0.8)); 
  border-bottom: 2px solid var(--color-beige);
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  
    .nav-links {
      display: flex;
      justify-content: center;
      flex: 1;
  
      a {
        margin: 0 1.5rem;
        text-decoration: none;
        color: var(--color-light-gold);
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
  
        &:hover {
          color: var(--color-tan);
        }
      }
    }
    
    .info-container {
      position: absolute;
      left: 20px;
    }
    
    #info-button {
      color: var(--color-light-gold);
      text-decoration: none;
      font-weight: bold;
    }
    
    #info-button:hover {
      color: var(--color-tan);
    }
    
    #info-button i.bi-info-circle {
      margin-right: 4px;
    }
    .user-stats {
      margin-right: 1rem;
      
      .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .user-level {
          color: var(--color-light-gold);
          font-weight: 600;
          font-size: 1rem; 
        }
        
        .seperator {
          color: var(--color-tan);
          opacity: 0.7;
          margin: 0 0.2rem;
        }
        
        .user-type {
          color: var(--color-beige);
          font-size: 0.9rem;
        }
      }
    }
  
    .profile-icon {
      a {
        color: var(--color-light-gold);
        font-size: 20px;
        &:hover {
          color: var(--color-tan);
        }
      }
    }
  }
}


/* FOOTER */
footer {
  background-color: rgba(64, 30, 1, 0.8);
  color: var(--color-light-gold);
  padding: 0.3rem 0;
  margin-top: auto;
  border-top: 2px solid var(--color-beige);
  background-image: linear-gradient(to top, rgba(115, 78, 32, 0.8), rgba(64, 30, 1, 0.8));
  width: 100%;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .copyright {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.8rem;
      }

      .social-placeholder {
        width: 100px;
      }

      .social-icons {
        display: flex;
        gap: 0.8rem;
        width: 100px;
        justify-content: flex-end;

        a {
          color: var(--color-light-gold);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: rgba(115, 78, 32, 0.4);
          font-size: 0.9rem;

          &:hover {
            color: var(--color-tan);
            background-color: rgba(115, 78, 32, 0.6);
          }
        }
      }
    }

    .footer-team {
      text-align: center;
      font-size: 0.75rem;
      padding-top: 0.1rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      p {
        margin-right: 0.5rem;
        color: var(--color-beige);
      }

      span:not(:last-child)::after {
        content: '•';
        margin: 0 0.3rem;
        color: var(--color-beige);
      }
    }
  }
}

/* MOBIEL*/
@media (max-width: 768px) {
  .nav-links a {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  
  .copyright {
    position: static;
    transform: none;
  }
  
  .social-icons {
    width: auto;
    justify-content: center;
    margin: 0.3rem 0;
  }
  
  .social-placeholder {
    display: none;
  }
  
  .footer-team {
    flex-direction: column;

    span:not(:last-child)::after {
      display: none;
    }
  }

  .user-stats {
    display: none; 
  }
}