<footer class="footer-container">
    <section class="footer-content">
      <nav class="social-icons">
        <a
          href="https://github.com/The-Deck-Coders"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="bi bi-github"></i>
        </a>
        <a
          href="https://discord.gg/deckcoders"
          target="_blank"
          aria-label="Discord"
        >
          <i class="bi bi-discord"></i>
        </a>
        <a href="mailto:contact@deckcoders.com" target="_blank" aria-label="Gmail">
          <i class="bi bi-envelope-fill"></i>
        </a>
      </nav>
      <p class="copyright">
        &copy; 2025 The Deck Coders: <a href="https://github.com/Ilias492610">Ilias</a>, <a href="https://github.com/Tromsbonen">Tawan</a> & <a href="https://github.com/JessieDeJong">Jessie</a>. Alle rechten voorbehouden.
      </p>

    </section>
  </footer>
</body>
</html>