<header>
    <nav>
      <div class="nav-links">
        <div class="info-container">
          <a href="./welcomepage" id="info-button"><i class="bi bi-info-circle"></i></a>
        </div>
        <a href="./quiz">Quiz</a>
        <a href="./favorites">Favorieten</a>
        <a href="./blacklist">Blacklist</a>
      </div>

      <div class="user-stats">
        <div class="user-info">
          <span class="user-level">Lvl 12</span>
          <span class="seperator"> | </span>
          <span class="user-type">Hobbit</span>
        </div>
      </div>

      <div class="profile-icon">
        <a href="./account-settings">
          <i class="bi bi-person-fill"></i>
        </a>
      </div>
    </nav>
  </header>