@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --color-light-gold: #F2D6B3;
    --color-tan: #D9C6A3;
    --color-beige: #BFA556;
    --color-brown: #734E20;
    --color-dark-brown: #401E01;
    --color-dialog-bg: #D9C6A3;
    --background-image: url('/assets/images/login-background-temp.webp');
    --background-overlay: rgba(210, 180, 140, 0.7);
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-color: black;

    .login-container, .register-container, .account-settings {
        width: 400px;
        padding: 40px;
        margin: 40px 0;
        border: 2px solid var(--color-tan);
        border-radius: 10px;
        color: var(--color-dark-brown);
        background-color: var(--background-overlay);
        backdrop-filter: blur(10px);

        dialog {
            outline: none;
            border: 2px solid var(--color-tan);
            border-radius: 10px;
            width: 500px;
            padding: 20px;
            text-align: center;
            background-color: var(--color-dialog-bg);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::backdrop {
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .profiel-fotos {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 1rem;

                .profile-options {
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    .picture-option {
                        width: 150px;
                        height: 150px;
                        border-radius: 10%;
                        border: 1px solid var(--color-tan);
                        cursor: pointer;
                        transition: transform 0.3s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }

        .title {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            margin-top: -1rem;
            color: var(--color-dark-brown);
        }

        .skill-bar {
            h1 {
                text-align: center;
                margin-bottom: 0.8rem;
            }

            .skill-container {
                background-color: var(--color-brown);
                border-radius: 10px;
                margin: 1rem;
                margin-top: -0.5rem;

                .skill-level {
                    display: inline-block;
                    text-align: right;
                    font-weight: bold;
                    padding: 10px;
                    color: var(--color-beige);
                    border-radius: 10px;
                    /* width: 70%; */
                    background-color: var(--color-dark-brown);
                }
            }
        }
    }

    .input-container {
        position: relative;
        margin-bottom: 20px;

        input, select {
            width: 100%;
            height: 45px;
            padding: 10px 45px 10px 20px;
            border: 2px solid var(--color-brown);
            border-radius: 40px;
            font-size: 16px;
            color: var(--color-dark-brown);
            background-color: transparent;
            outline: none;

            &::placeholder {
                color: var(--color-dark-brown);
            }
        }

        .input-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            color: var(--color-dark-brown);
        }
    }

    .submit-btn {
        width: 100%;
        height: 45px;
        background-color: var(--color-light-gold);
        color: var(--color-dark-brown);
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 10px 0;

        &:hover {
            border: 2px solid var(--color-dark-brown);
        }
    }

    .text-center {
        text-align: center;
        margin: 10px 0;

        .text-link {
            color: var(--color-dark-brown);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .text-secondary {
            color: var(--color-brown);
            font-size: 16px;

            a {
                font-weight: bold;
                color: var(--color-brown);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .profile-image {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }

    .account-settings {
        width: 45%;

        .change-picture-button:hover {
            cursor: pointer;
        }

        .information {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .input-container {
                width: 45%;
            }
            select {
                background-color: var(--background-overlay);
            }
        }
    }

    .bi-cloud-sun-fill {
        position: absolute;
        right: 10px;
        top: 5%;
        transform: translateY(-50%);
        font-size: 40px;
        color: var(--color-dark-brown);

        &:hover {
            cursor: pointer;
            transform: translateY(-50%) scale(1.1);
        }
    }
}

@media (max-width: 768px) {
    body .account-settings {
        width: 90%;
    
        .information {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
    
            .input-container {
                width: 100%;
            }
        }
        .profile-options {
            flex-direction: column;
            align-items: center;
        }
    }
}
